body {
  font-family: "JetBrains Mono Variable", monospace;
}
.timeline ol {
  counter-reset: list;
}
.timeline ol > li {
  display: flex;
  border: 1px solid #1c39bb;
  padding: 10px;
  margin-bottom: -1px;
}
.timeline ol > li:before {
  content: attr(data-step);
  margin-right: 8px;
  font-weight: bold;
  color: #1c39bb;
  counter-increment: list;
  content: counter(list) ".";
}
.timeline ol > li.completed,
.timeline ol > li.completed > textarea {
  background-color: #edf7ed;
}
.anim-text {
  animation: text 3.5s ease infinite;
}
@keyframes text {
  0%,
  100% {
    background-size: 200% 200%;
    background-position: left center;
  }
  50% {
    background-size: 200% 200%;
    background-position: right center;
  }
}
